<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title 'Formation Symfony' %}</title>
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
    <div class="container">
        <header>
            {% block header %}
                <h1>Bienvenue sur notre site internet!</h1>
            {% endblock %}
        </header>

        <div class="row">
            <div class="col-xs-12">
                {% block content '' %}
            </div>
        </div>

        <footer class="text-center">
            {% block footer %}
                © {{ "now"|date('Y') }}
            {% endblock %}
        </footer>
    </div>

    {% block javascripts %}
    {% endblock %}
    </body>
</html>